.fade-in{
    animation-name: fade-in-animation;
    animation-duration: 10s;
}
@keyframes fade-in-animation{
    from{
        opacity: 0;
        width: 100px;
        transform: rotate(280deg);
    }

    to {
        opacity: 1;
        width: 300px;
        transform:rotate(0deg);
    }
}
.blink-colour{
    animation-name: blink-colour;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink-colour{
    0%{
        color:white;
    }
    40%{
        color:yellow;
    }
    80%{
        color: greenyellow;
    }
    100%{
        color:white;
    }
}